body {
    background-color: whitesmoke;
}

#signUp {
    text-align: center;
    width: 50%;
    height: 50%;
    margin-top: 450px;
}

@media screen and (max-height: 540px) {
    #signUp {
        margin-top: 270px;
    }
}