body {
    background-color: lightskyblue
}

#signUp {
    background-color: whitesmoke;
    margin: auto;
    text-align: center;
    left: 50%;
    top: 50%;
    position: absolute;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* 
@media screen and (max-height: 540px) {
    #signUp {
        margin-top: 270px;
    }
} */